@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-archivo: "Archivo", sans-serif;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

@layer components {
  .container {
    @apply mx-auto w-full px-4 md:px-8 lg:px-16;
  }

  .section {
    @apply py-24 md:mt-16 md:py-32;
  }
}
